
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anulare</title>
    <h1 align="left">Rezervarea dumneavoastra a fost anulata</h1>
</head>
<body>
</body>
</html>
