
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificare</title>
    <h1 align="left">Rezervarea dumneavoastra a fost modificata</h1>
</head>
<body>
</body>
</html>
