
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_clienti</title>
    <h1>Admin_Clienti</h1>
</head>
<body>

</body>
</html>
